@use "../abstracts/variables" as *;

.site-header {
  background: $color-primary;
  padding: $header-padding-y 0;
}

.site-nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $container-width;
    margin: 0 auto;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
  }

}

/* Logo */

.site-logo {

  img {
    max-height: $logo-max-height;
    width: auto;
    display: block;
  }

}

